/.vs/NoblePermission/v16/.suo
/Electron-Vue-Project/.vs/slnx.sqlite
/Electron-Vue-Project/.vs/VSWorkspaceState.json
/NoblePermission/bin/Debug/netcoreapp3.1/NoblePermission.dll
/NoblePermission/bin/Debug/netcoreapp3.1/NoblePermission.pdb
/NoblePermission/bin/Release/netcoreapp3.1/appsettings.json
/NoblePermission/bin/Release/netcoreapp3.1/NoblePermission.dll
/NoblePermission/bin/Release/netcoreapp3.1/NoblePermission.pdb
/NoblePermission/obj/Debug/netcoreapp3.1/NoblePermission.csproj.AssemblyReference.cache
/NoblePermission/obj/Debug/netcoreapp3.1/NoblePermission.dll
/NoblePermission/obj/Debug/netcoreapp3.1/NoblePermission.pdb
/NoblePermission/obj/Release/netcoreapp3.1/NoblePermission.csproj.CoreCompileInputs.cache
/NoblePermission/obj/Release/netcoreapp3.1/NoblePermission.dll
/NoblePermission/obj/Release/netcoreapp3.1/NoblePermission.pdb
/NoblePermission/obj/Release/netcoreapp3.1/PubTmp/Out/appsettings.json
/NoblePermission/obj/Release/netcoreapp3.1/PubTmp/Out/NoblePermission.dll
/NoblePermission/obj/Release/netcoreapp3.1/PubTmp/Out/NoblePermission.pdb
/NoblePermission/Properties/PublishProfiles/FolderProfile1.pubxml.user
